{% extends "base.html" %}
{% block content %}


<div id="header"><br>


<table border=0 width=100%>
  <tr>
    <td>
      <a href="https://www.viclab.org"><h5>www.viclab.org</h5></a>
    </td>
    <td>
      <form action="/search" method="post">
        {{ search.searchkey }}
      <input type="submit" value="Search">
    </td>
  </tr>
</table>


<table align=left bgcolor=gray width=100%>
<tr>
  <td><img src="https://notes.viclab.org/static/images/notes.png"></td>
  <td><h1>{{ msg }}</h1>
    <a href=/new><h4>Create a New note...</h4></a>
    <a href=/restore><h4>Restore a Deleted note...</h4></a>
  </td>
</tr></table>

</div>
<div id="section_main"> 
<table align=left border=1 bgcolor=white width=65%>
<tr><th>Note ID<th>Note Author<th>Note Title<th>View</tr>
{% for result in results %}
<tr>
  <td>
  {{ result.id }}
  </td>
  <td>
  {{ result.user }}
  </td>
  <td>
   {{ result.title }}
  </td>
  <td>
  <a href=/view/{{ result.id }}>View</a>
  </td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}
